@use '../abstracts/variables' as *;
@use 'sass:map';

.layout-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: scroll;
}

.home {
    background-color: map.get($panel-colors, 'home');
    z-index: map.get($panel-z-index, 'base');
}

.active {
    width: $panel-width-expanded;
}

